*, *::before,*::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    cursor: pointer;
}
html{
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
}
.navBar{
    padding: 25px;
}
.container{
    background-color: #ffc017;
    margin: auto;
}
.navBar , .border{
    border: 1px solid black;
}

header nav ul{
    list-style: none; 
    display: flex;
    justify-content: space-between;
}
header nav ul li{
    padding: 0.5rem 0.8rem;
    font-size: 0.8em;
}
.center{
    max-width: 70rem;
    margin-inline: auto;
}
.getStarted{
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 8px 13px;
    border-radius: 25px;
}
header h1{
    font-family: "Spectral", serif;
    font-size: 5rem;
    font-weight: 500;
    text-wrap: nowrap;
}
header h2{
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.3em;
}
.position{
    min-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.position button{
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 5px 25px;
}
.trending{
  display: flex;
  align-items: center; 
  gap: 10px;
  margin-top: 3em;
}
.article{
    display: flex;
    flex-wrap: wrap;
}
.article2{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    margin: 10px;
}